.navbar-dark {
    background-color: #697184;
    color: #413f3d;
}

.jumbotron {
    color: #030e12;
    background-color: #b1a6a4;
}

.btn-header {
    color: black;
    background-color: #f2f1ef;
}

.footer {
    color: #f2f1ef;
    background-color: #413f3d;
    padding: 50px 20px;
}

.foot-links {
    margin-top: 20px;
    color: #f2f1ef;
}

body {
    padding-top: 53px;
}

p{
    font-size: large;
}